/* gnome power manager website overrides */

#hdr {
	background: url("images/logo.png") no-repeat;
	background-color: #eeeeee;
	background-position: right;
}

.front-screenshot {
	float: right;
	display: block;
	margin: 1em;
}

pre {
	border: 1px;
	padding: 5px;
	background: #eeeeee;
	border-style: solid;
	border-color: #d0d0d0;
	border-width: 1px;
}

p.caption {
	text-align: center;
	font-style: italic;
}

p.faqquestion {
	font-style: italic;
	color: darkred;
}

p.faqanswer {
	font-style: normal;
	margin: 20px 20px 20px 20px;
}

a.faqtable {
	text-align: center;
	text-decoration: none;
	color : darkred;
	white-space: nowrap;
}
