Source: gnome-power-manager
Section: gnome
Priority: optional
Maintainer: Richard Hughes <richard@hughsie.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, automake1.9, libgnomeui-dev, libglade2-dev, libhal-dev, libdbus-1-dev, libdbus-glib-1-dev, libxml-parser-perl, libgtk2.0-dev, libwnck-dev, libtool, docbook-to-man, intltool, libnotify-dev, dbus-1-utils (>= 0.35), docbook-utils
Standards-Version: 3.6.2

Package: gnome-power-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, notification-daemon
Replaces: gnome-power, power-manager
Provides: gnome-power
Description: frontend for gnome-powermanager
 gnome powermanager manages battery status, events and
 powermanagement settings.
