Makefile.in
gnome-power-manager.desktop
gnome-power-manager.desktop.in
gnome-power-manager.schemas
gnome-power-manager.service
gnome-power-preferences.desktop
gnome-power-preferences.desktop.in
gnome-power-statistics.desktop
gnome-power-statistics.desktop.in

