img {
	border: 0px;
	vertical-align: top;
}

pre {
	border: 1px;
	padding: 5px;
	background: #eeeeee;
	border-style: solid;
	border-color: #d0d0d0;
	border-width: 1px;
}

p.caption {
	text-align: center;
	font-style: italic;
}

body {
	font-family: arial,helvetica,sans-serif;
	color: black;
	margin: 0px 20px 100px 20px;
	padding: 0px;
}

