img {
	border: 0px;
	vertical-align: top;
}

pre {
	border: 1px;
	padding: 5px;
	background: #eeeeee;
	border-style: solid;
	border-color: #d0d0d0;
	border-width: 1px;
}

p.caption {
	text-align: center;
	font-style: italic;
}

p.faqquestion {
	font-style: italic;
	color: darkred;
}

p.faqanswer {
	font-style: normal;
	margin: 20px 20px 20px 20px;
}

hr {
	margin: 20px 20px 20px 20px;
}

body {
	font-family: arial,helvetica,sans-serif;
	color: black;
	margin: 0px 20px 20px 20px;
	padding: 0px;
}


table {
	padding: 0px;
	border-spacing: 0;
	border-collapse: collapse;
	vertical-align: middle;
	padding: 0px;
}

a.menu {
	text-align: center;
	text-decoration: none;
	color : black;
	font-size: 90%;
	white-space: nowrap;
}

td.menu {
	padding: 2px;
	text-align: center;
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	padding: 2px;
	background: #eeeeee;
}

